body {
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
    
}

form {
    background: white;
    padding: 20px;
    margin: 100px auto;
    width: 300px;
    border-radius: 10px;
    border-color: blue;
    border-width: 1px;
    border-style: solid;

}

input {
    width: 90%;
    padding: 10px;
}

button {
    width: 90%;
    padding: 10px;
    background-color: darkblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

body {
    margin: 0;
    font-family: Arial;
}

.page-bg {
    height: 100vh;
    background: rgba(107, 33, 198, 0.604);   
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    background: white;
    width: 80%;
    max-width: 900px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    text-align: center;
}


.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}


.card {
    background: #f9f9f9;
    padding: 25px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}


.logout {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}