*
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke ;
    font-size: 20px;

}

h1 {

    color: blue;
    font-size: 20px;
}
form {
    width: 350px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
}

button {
    padding: 8px 15px;
    margin: 5px;
    text-align: center;
    width: 50%;
    background-color: blue;
    color: white;
}

.highlight {
    color: red;
    font-weight: bold;
    text-align: center;
}

#maintitle {
    color: blue;
    text-align: center;
    font-size: 28px;
}